@import '../../../variables.scss';

:host {
  display: block;
  padding: 20px;

  mat-card-header {
    ::ng-deep .mat-card-header-text {
      margin: 0;
      flex: 1;
    }
  }

  ::ng-deep mat-card-title {
    color: mat-color($ngrx-issue-tracker-primary);
  }
}

