@import '~@angular/material/theming';

$ngrx-issue-tracker-primary: mat-palette($mat-green, 600);
$ngrx-issue-tracker-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngrx-issue-tracker-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngrx-issue-tracker-theme: mat-light-theme((
  color: (
    primary: $ngrx-issue-tracker-primary,
    accent: $ngrx-issue-tracker-accent,
    warn: $ngrx-issue-tracker-warn,
  )
));
